numpy<2.3
numba>=0.61.2
pandas
opencv-python
matplotlib
statsmodels
mplfinance
pandas
requests
python-dateutil
gym
gymnasium
# ray
scipy
scikit-learn
binance_data
Levenshtein
pandas_ta
ta
finta
numba
tindicators
seaborn
joblib
pytz
pymoo
pysr
stable_baselines3
torch
tqdm
plotly