binance
numpy
numba
websocket-client
opencv-python
matplotlib
mplfinance
pandas
requests
python-dateutil
gym
gymnasium
ta-lib
tindicators
git+https://github.com/philipzabicki/finta.git@philipzabicki-patch-1
ta
pandas_ta
torch
scikit-learn
statsmodels
tensorflow
keras-rl
stable-baselines3[extra]
scipy
binance-futures-connector