--extra-index-url https://download.pytorch.org/whl/cu128

pandas
numpy
torch
torchvision
torchaudio
gymnasium
stable-baselines3[extra]
mplfinance
scikit-learn
https://github.com/cgohlke/talib-build/releases/download/v0.6.4/ta_lib-0.6.4-cp313-cp313-win_amd64.whl
pandas_ta
ta
git+https://github.com/philipzabicki/finta.git@philipzabicki-patch-1
numba
tindicators
requests
binance_data